// Bootstrap Styles
@import "node_modules/bootstrap/scss/bootstrap";

// My vars
@import 'public/assets/scss/_vars';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $light-gray;

  .container {
    background-color: $white;
    border-radius: $radio;
  }
}
